<!doctype html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/static/favicon.ico">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/listmovie.css">

        <title>{% block title %}{% endblock %} - List Movies!</title>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">List Movies!</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">{% block navlist %}{% endblock navlist %}</ul>
          <form class="navbar-form navbar-right" action="/search" role="form">
            <input 
              data-msg-required="Give me a name."
              data-rule-required="true"
              name="keyword" type="text" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-submit"><span class="glyphicon glyphicon-search"></span></button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div id="main-content-wrapper" class="container">
      {% block content %}{% endblock content %}

      <hr />

      <footer>
        <p>&copy; genzj 2014. Only for programming learning, all movies' copyrights are reserved by their owner(s).</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery.validate/1.11.1/jquery.validate.js" type="text/javascript"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    var validate_opt = {
      showErrors: function(errorMap, errorList) {
 
          // Clean up any tooltips for valid elements
          $.each(this.validElements(), function (index, element) {
              var $element = $(element);
 
              $element.data("title", "") // Clear the title - there is no error associated anymore
                  .removeClass("has-error")
                  .tooltip("destroy");
          });
 
          // Create new tooltips for invalid elements
          $.each(errorList, function (index, error) {
              var $element = $(error.element);
 
              $element.tooltip("destroy") // Destroy any pre-existing tooltip so we can repopulate with new tooltip content
                  .data("title", error.message)
                  .tooltip({
                      placement: "bottom",
                  })// Create a new tooltip based on the error messsage we just set in the title
                  .parent().addClass("has-error"); 
          });
      }
    };
  $("form").each(function(i, f){$(f).validate(validate_opt)});
  </script>
  </body>
</html>
