{% extends "frame.html" %}
{% block title %}{{ movie.title }}{% endblock title %}

{% block navlist %}
{% for rg in movie.resource_groups %}
            <li class="visible-xs visible-sm"><a href="#tab-player-{{ loop.index }}">{{ rg.player }}</a></li>
{% endfor %}
{% endblock navlist %}


{% block content %}
<div class="row hidden-xs hidden-sm">
  <div class="panel-group" id="resource-list">
{% for rg in movie.resource_groups %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="btn btn-default" data-toggle="collapse" href="#player-{{ loop.index }}">
            <span class="glyphicon glyphicon-align-justify"> </span>&nbsp {{ rg.player }}
          </a>
        </h4>
      </div>
      <div id="player-{{ loop.index }}" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped inline-table">
              {% for ep in rg.episodes|reverse %}
              <tr><td class="col-sm-2">{{ ep.name }}</td>
              <td class="col-sm-10">{{ ep.url|urlize(70, nofollow=True) if ep.add_link else ep.url }}</td></tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
</div>
<div class="row visible-xs visible-sm">
{% for rg in movie.resource_groups %}
  <h3><strong>{{rg.player}}</strong></h3>
  <table class="table table-striped inline-table" id="tab-player-{{ loop.index }}" >
    {% for ep in rg.episodes|reverse %}
    <tr><td>{{ ep.name }}</td><td>{{ ep.url|urlize(50, nofollow=True) if ep.add_link else ep.url }}</td></tr>
    {% endfor %}
  </table>
{% endfor %}
</div>
{% endblock content %}
