{% extends "frame.html" %}
{% block title %}{{ player.title }}{% endblock title %}

{% block content %}
<div class="row">
<p class="text-center iqiyi-player-wrapper player-wrapper">
  <object type="application/x-shockwave-flash" data="http://player.video.qiyi.com/qiyi" width="800px" height="600px" id="player">
    <param name="src" value="http://player.video.qiyi.com/qiyi">
    <param name="quality" value="high">
    <param name="allowScriptAccess" value="always">
    <param name="bgcolor" value="#000000">
    <param name="allowfullscreen" value="true">
    <param name="allowNetworking" value="all">
    <param name="wmode" value="Opaque">
    <param name="loop" value="false">
    <param name="play" value="true">
    <param name="scale" value="showall">
    <param name="devicefont" value="false">
    <param name="menu" value="true">
    <param name="hint" value="true">
    <param name="flag" value="0">
    <param name="flashvars" value="vid={{ player.vid }}&amp;coop=coop_dm456&amp;cid=qc_100001_300051&amp;bd=1&amp;autoplay=1&amp;showSearchBox=0&amp;isPlayNext=1">
  </object>
</p>
</div>
{% endblock content %}
