{% extends "frame.html" %}
{% block title %}Searching for "{{ result.keyword }}"{% endblock title %}

{% block content %}
{% for mv in result.movies[0::4] %}
<div class="row">
{% for cmv in result.movies[loop.index0*4:loop.index0*4+4] %}
  <div class="col-sm-3">
    <div class="thumbnail">
      <a href="/movie/370kan/{{ cmv.id }}"><img src="{{ cmv.thumbnail }}" /></a>
      <div class="caption">
        <a href="/movie/370kan/{{ cmv.id }}"><h4 class="text-center">{{ cmv.title }}</h4></a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endfor %}

{#
<div class="row">
{% for cmv in result.movies %}
  <div class="col-sm-4 col-md-3 col-lg-2">
    <div class="thumbnail">
      <a href="/movie/370kan/{{ cmv.id }}"><img src="{{ cmv.thumbnail }}" /></a>
      <div class="caption">
        <a href="/movie/370kan/{{ cmv.id }}"><h4 class="text-center">{{ cmv.title }}</h4></a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
#}

<div class="row">
  <ul class="pagination pull-right">
    <li><span >{{ result.curpage }} / {{ result.maxpage }}</span></li>
    {% if not result.prevpages %}
    <li class="disabled"><a href="#">&laquo;</a></li>
    {% else %}
    <li><a href="{{ result.prevpages[-1][1] }}">&laquo;</a> </li>
    {% endif %}
    {% for page in result.prevpages %}
    <li><a href="{{ page[1] }}">{{ page[0] }}</a></li>
    {% endfor %}
    <li class="active"><a href="#">{{ result.curpage }} <span class="sr-only">(current)</span></a></li>
    {% for page in result.nextpages %}
    <li><a href="{{ page[1] }}">{{ page[0] }}</a></li>
    {% endfor %}
    {% if not result.nextpages %}
    <li class="disabled"><a href="#">&raquo;</a></li>
    {% else %}
    <li><a href="{{ result.nextpages[0][1] }}">&raquo;</a> </li>
    {% endif %}
  </ul>
</div>

{% endblock content %}
