{% extends "frame.html" %}
{% block title %}{{ player.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1 youku-player-wrapper player-wrapper"id="youkuplayer" style="width:800px;height:600px"></div>
</div>
<script type="text/javascript" src="http://player.youku.com/jsapi">
  player = new YKU.Player('youkuplayer',{
    styleid: '6',
    client_id: '3c7d95570c7197f4',
    vid: '{{ player.vid }}',
    autoplay: true,
    show_related: true
  });
</script>
{% endblock content %}
