@font-face {
    font-family: 'Hiragino Sans GB W3';
    font-style: normal;
    font-weight: 400;
    src: local('Hiragino Sans GB W3'); /*, url(../fonts/HiraginoSansGBW3.woff) format('woff');*/ /* too slow, 10MB! */
}

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: "Hiragino Sans GB W3","Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-search-wrapper {
    margin-top: 30px;
}

body {
    padding-top: 80px;
}

img.doodle {
    margin-top: 25px;
}

.inline-table {
    margin: 0px;
}

.thumbnail {
    min-height: 320px;
}

.thumbnail img {
    max-height: 240px;
}

